.demo-explanation {
    background-color:transparent;
    padding:10px;
    border:3px solid #386641;
    margin-top:15px;
    border-radius: 10px;
    margin-bottom:15px;
}

.homepage h4 {
    margin-left:0px;
    margin-block-start: .5em;
}

.plant-of-the-day {
    border-radius:10px;
}

.potd-content {
    margin-top:10px;
    display:inline-block;
}

.potd-img {
    border:1px solid black;
    padding: 4px 5px 4px 5px;
    text-align:center;
    margin: 0px 10px 10px 0px;
    width: 140px;
    height:140px;
    display:inline-block;
}

.potd-img img {
    width: 130px;
    height:130px;
}

.home-section-title {
    font-size:20px;
}

.weather-today {
    border-radius:10px;
    margin-top:15px;
}

.weather-today ul {
    margin-top:10px;
}

.weather-icon {
    text-align:center;
    margin: 0px 10px 10px 0px;
    width: 60px;
    height:60px;
    display:inline-block;
}


.weather-icon img {
	width:60px;
	height:60px;
}
