footer {
	margin-top:15px;
	background-color:#A7C957;
	font-size:11px;
	padding:10px;
	bottom:0px;
	width:100%;
	max-width:800px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed;
	
}

.svg-inline--fa {
	margin-right:7px;
}
